<div class="row">
  <div
    class="square blue"
    [class.highlighted]="blueIsHighlighted"
    (click)="getColor('#85C1E9')"
  ></div>
  <div
    class="square pink"
    [class.highlighted]="pinkIsHighlighted"
    (click)="getColor('#FEA1A1')"
  ></div>
  <div
    class="square yellow"
    [class.highlighted]="yellowIsHighlighted"
    (click)="getColor('#FFE194')"
  ></div>
  <div
    class="square terracotta"
    [class.highlighted]="terracottaIsHighlighted"
    (click)="getColor('#c45824')"
  ></div>
</div>
